{%  extends 'healthhealthUserBundle::layout.html.twig' %}

{% block visual_heading %}


{% endblock %}

{% block main_content %}

    <section class="col-md-9 main_content">

        <h1>Fitness</h1>

        <p>Its important to workout at least 3 times a week. Not only does it increase your metabolism but burns more
            fat as well. It is also important to not do so much cardio. Too much cardio could in fact burn muscle,
        leaving you flaby and not toned. Click on a body part below to see which exercises you can do to build
        lean muscle and burn fat.</p>

    {% for alls in all %}
        <h4>{{ alls.bodyPart }}</h4>
        {% endfor %}


    </section>



{% endblock %}