<p>Fingerstache wayfarers mlkshk, flexitarian skateboard paleo banh mi Austin.
    Fingerstache synth gastropub art party cornhole sriracha, iPhone Odd Future. Blue Bottle church-key roof party
    fingerstache tofu banh mi. Jean shorts ethical craft beer, Thundercats hella ennui tote bag High Life Wes Anderson.
    Ethical seitan cliche, chillwave artisan Odd Future iPhone lo-fi art party fingerstache flexitarian locavore meh kale chips.
    Williamsburg Tumblr kitsch bicycle rights, Shoreditch craft beer distillery. Banh mi YOLO quinoa, Banksy Neutra drinking vinegar
    dreamcatcher stumptown Etsy blog organic McSweeney's banjo.</p>

<p>   database_driver: pdo_mysql
    database_host: 50.62.209.8
    database_port: '3306'
    database_name: HealthApp
    database_user: APSquared
    database_password: K5-dynabagyxu
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: en
    secret: 6232749637906b8a5361b6de29d800698b23c4af
    database_path: null</p>