{%  extends 'healthhealthUserBundle::layout.html.twig' %}


{% block main_content %}

   <section class="col-md-8 main_content">

       <h2>Lifestyle</h2>

       <p>Pie liquorice halvah liquorice apple pie candy canes chupa chups bonbon. Chupa chups soufflé tart pie wafer. Brownie macaroon dragée wafer candy cookie. Macaroon lollipop pastry cheesecake sesame snaps chocolate lemon drops chocolate dragée. Pudding toffee soufflé fruitcake jelly-o chocolate. Pastry gummi bears fruitcake carrot cake sesame snaps tootsie roll lollipop.</p>

   </section>
{% endblock %}