{%  extends 'healthhealthUserBundle::layout.html.twig' %}

{% block visual_heading %}


{% endblock %}

{% block main_content %}

   <section class="col-md-9 main_content">

       <h2>Lifestyle</h2>
        <p>
       {% for diets in diet %}
          <p> {{ diets.content }}</p>

        {% endfor %}
       </p>

       <section class="col-md-4 life">

           <a href="/HealthApp/Symfony/web/app_dev.php/healthsample">
           <img src="{{ asset('bundles/healthhealthuser/images/contImg1.png') }}" alt="recipes" />

           <h3>Ideal Way of Eating</h3>


                <p>Here's a sample day of how one should eat to live a healthy balanced lifestyle and lose weight
                </p></a>

       </section>

       <section class="col-md-4 life">

           <a href="/HealthApp/Symfony/web/app_dev.php/greenlean">

           <img src="{{ asset('bundles/healthhealthuser/images/contImg2.png') }}" alt="recipes" />

           <h3>More Green = More Lean</h3>


           <p>Find out the the green foods that are not only delicious but will help burn that fat
               and reveal your toned sleek body
           </p></a>
       </section>

       <section class="col-md-4 life">

           <a href="/HealthApp/Symfony/web/app_dev.php/cheat-generator">

           <img src="{{ asset('bundles/healthhealthuser/images/contImg3.png') }}" alt="recipes" />

           <h3>BMI & Heart Rate Calculator</h3>


               <p>Cheat days can fuel your body but also make you lose track, this generator will help
                   give you belly friendly cheat meals sweet enough to satisfy your craving
               </p></a>
       </section>


   </section>



{% endblock %}