{%  extends 'healthhealthUserBundle::layout.html.twig' %}


{% block main_content %}

    <section class="col-md-9 main_content">

        <h2>Detox</h2>

        <p>It is so important to detox your body. As we live in a fast paced society we ingest a tone of junk food
            filled with chemicals and preservatives. As a result of this, a tone of waste is sitting in your body
            that contributes to bloating; ads water, and of course weight gain. Detoxing is a great way to cleanse
            your body of these toxins, and be healthier on the inside. It also helps in cancer and disease prevention.</p>

         <p>To find the detox that’s the right fit for you fill out this questionnaire.</p>
    </section>

    <section class="col-md-8 questons">

        <form action="get_info.php" method="post" class="allForms">

            
            <label class="question"></label>
            <input type="radio" value="1"><label>Yes</label>



            <input type="submit" value="submit" class="btn allBtn" name="submit_info">

        </form>

    </section>
{% endblock %}