{%  extends 'healthhealthUserBundle::layout.html.twig' %}

{% block visual_heading %}


{% endblock %}

{% block main_content %}
    <section class="col-md-9 main_content">

        <h2>Health Calculators</h2>


    <section class="col-md-4 heart">

    <h3>BMI Calculator</h3>

     <form class="allForms">
         <label>Weight (lbs):</label>
         <input type="text" id="weight">

         <label>Height (inches)</label>
         <input type="text" id="height">

         <input type="button" id="submit" onclick="calcBMI();" class="btn" value="calculate" />

     </form>


      </section>

        <section class="col-md-4 heart">

            <h3>Maximum Heart-Rate Calculator</h3>
        <form class="allForms">
            <label>Age:</label>
            <input type="text" id="age">

            <input type="button" id="submit" onclick="calcBPM();" value="calculate" class="btn" />

        </form>

            <input type="button" class="btn allBtn" value="Back" style="clear:both;" onclick="goBack();" />

        </section>

        <section class="col-md-4 heart">

            <h3>Calorie Counter</h3>

            <script src="http://platform.fatsecret.com/js?key=a4e50ded35ad42e480164e8c12245010&auto_load=true"></script>

            <input type="button" class="btn allBtn" value="Back" style="clear:both;" onclick="goBack();" />

        </section>

        <section class="col-md-4 heart res">
            <p id="bmiResults"></p>

            <p id="results"></p>

            <p id="bmiResults"></p>

            <p id="ageResults"></p>

            <p id="calResults"></p>
        </section>

    </section><!--end of container-->

    {% block javascripts  %}
        <script src="{{ asset('bundles/healthlifestyle/js/jquery-1.11.1.js') }}"></script>
        <script src="{{ asset('bundles/healthlifestyle/js/cheat.js') }}"></script>
    {% endblock %}

    <script>

        function goBack() {history.back();}

    </script>

{% endblock %}