{%  extends 'healthhealthUserBundle::layout.html.twig' %}


{% block main_content %}

    <section class="col-md-8 main_content">

        <h1>Resources</h1>

        <p>Text will go here</p>



    </section>
{% endblock %}