{%  extends 'healthhealthUserBundle::layout.html.twig' %}


{% block main_content %}

    <section class="col-md-8 main_content">

        <h1>Resources</h1>

       <section class="col-md-4">

           <h2>Find a Gym</h2>
           <p>
               Have you decided to start working out but you do not know where. Click here to find the closes health clubs
               in your areas.
           </p>
       </section>

        <section class="col-md-4">

            <h2>Diet Reviews</h2>

            <p>
                Have you decided to start working out but you do not know where. Click here to find the closes health clubs
                in your areas.
            </p>

        </section>

        <section class="col-md-4">

            <h2>Top Workout Videos</h2>
            <p>
                Have you decided to start working out but you do not know where. Click here to find the closes health clubs
                in your areas.
            </p>
        </section>


    </section>
{% endblock %}