{%  extends 'healthhealthUserBundle::layout.html.twig' %}


{% block main_content %}

<section class="col-md-8 main_content">

    <h1>Workout Videos</h1>

<section id="tone" class="workIt col-md-4">

</section>

    <section id="cardio" class="workIt col-md-4">

    </section>

    <section id="intense" class="workIt col-md-4">

    </section>


</section>

    <script>
        //jquery dom manipulation

        $(document).ready(function(){
            //code here
        });
    </script>
{% endblock %}