{%  extends 'healthhealthUserBundle::layout.html.twig' %}


{% block main_content %}

    <section class="col-md-8 main_content">

        <h1>Health Forum</h1>

        <table>
            <tr>
                <th>Newbies</th>
                <th>Posts</th>
            </tr>
        </table>

        <table>
            <tr>
                <th>Topics</th>
                <th>The Latest</th>
            </tr>
            <tr>
                <td>Weight-loss</td>
            </tr>
            <tr>
                <td>Fitness</td>
            </tr>
            <tr>
                <td>Transformations</td>
            </tr>

        </table>


    </section>
{% endblock %}