{%  extends 'healthhealthUserBundle::layout.html.twig' %}


{% block main_content %}

    <section class="col-md-8 main_content">

        <h1>Health Forum</h1>

        <ul>
            <li class="forum-title">Newbies</li>
            <li>Introduce yourself</li>
        </ul>

      <ul>
          <li class="forum-title">Topics</li>
          <li>Weightloss</li>
          <li>transformations</li>
          <li>Eating</li>
          <li>Fitness</li>
      </ul>

        <ul>
            <li class="forum-title">Diet</li>
            <li>Detoxes</li>
            <li>Vegan</li>
            <li>Miscellaneous</li>
        </ul>


    </section>
{% endblock %}