{%  extends 'healthhealthUserBundle::layout.html.twig' %}


{% block main_content %}

    <section class="col-md-8 main_content">

        <h1>Health Forum</h1>

       <a href="/HealthApp/Symfony/web/app_dev.php/newpost"><span class="new">create new thread</span></a>
    {% for post in posts  %}
       <table class="table table-condensed">
           <tr>
               <th>Subject</th>
               <th>Poster</th>
               <th>Posted On</th>
           </tr>
           <tr>
               <td>
                    <a href="{{ post.permalink }}">
                        {{ post.title }}</a>
                   </td>
               <td>
                   {{ post.author }}
                   </td>
                <td>
                    Date
                </td>
           </tr>
       </table>
        {% endfor %}

        <table>
            <tr>

            </tr>
        </table>



    </section>
{% endblock %}