{#extends '::layout.html.twig' #}
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="health, fitness, exercise, lifestyle, healthy, weightloss">
    <meta name="description" content="spreading awareness of living a healthy lifestyle,
	 lose weight, build muscle, its not a diet, its a lifestyle change">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>The Healthy LifeStyle</title>
</head>

{% block stylesheets %}
    {% stylesheets '@healthhealthUserBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link href="{{ asset_url  }}"  rel="stylesheet">
        <link href="{{ asset_url }}"  rel="stylesheet" >
    {% endstylesheets %}
{% endblock %}

<header>
    <h1 id="logo">The Healthy Lifestyle</h1>
</header>

<section class="container-fluid">


<section class="row content">

    <section id="non-slider">

    </section>

    <section class="col-md-6 welcome">
        <h1>Change Your Lifestyle!</h1>

        <p>Fingerstache wayfarers mlkshk, flexitarian skateboard paleo banh mi Austin.
            Fingerstache synth gastropub art party cornhole sriracha, iPhone Odd Future. Blue Bottle church-key roof party
            fingerstache tofu banh mi. Jean shorts ethical craft beer, Thundercats hella ennui tote bag High Life Wes Anderson.
            Ethical seitan cliche, chillwave artisan Odd Future iPhone lo-fi art party fingerstache flexitarian locavore meh kale chips.
            Williamsburg Tumblr kitsch bicycle rights, Shoreditch craft beer distillery. Banh mi YOLO quinoa, Banksy Neutra drinking vinegar
            dreamcatcher stumptown Etsy blog organic McSweeney's banjo.</p>
    </section><!--end of welcome-->

    <section class="col-md-6 login">
        <h1>Login/Sign Up</h1>
<form class="form-horizontal login" method="post">
    <section class="form-group">
      <label class="col-sm-2 control-label" for="username">Username:</label>
      <input type="text" name="username" class="form-control inputW" id="userName" />

        <label class="col-sm-2 control-label" for="password">Password</label>
        <input type="password" name="password" class="form-control inputW" id="passWord" />
    <section class="form-group">
        <section class="col-sm-12">
        <input type="submit" name="submit" id="subMit" />
    </section>

        </section>
</form>
    </section><!--end of homeIMG-->

</section><!--end of row-->
    </section><!--container fluid ends-->