{#extends '::layout.html.twig' #}
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="health, fitness, exercise, lifestyle, healthy, weightloss">
    <meta name="description" content="spreading awareness of living a healthy lifestyle,
	 lose weight, build muscle, its not a diet, its a lifestyle change">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>The Healthy LifeStyle</title>

{% block stylesheets %}
    {% stylesheets '@healthhealthUserBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link href="{{ asset_url  }}"  rel="stylesheet">
        <link href="{{ asset_url }}"  rel="stylesheet" >
    {% endstylesheets %}
{% endblock %}

    {#block javascript %}
        <script src="{{ asset('js/jquery.stellar.min.js') }}"
    {% endblock %}#}
</head>

<header>
    <h1 id="logo">The Healthy Lifestyle</h1>

    <nav class="top_nav">
        <ul>
            <li><a href="#">Login</a></li>
            <li><a href="/HealthApp/Symfony/web/app_dev.php/lifestyle">Lifestyle</a></li>
            <li><a href="#">Fitness</a></li>
            <li><a href="#">Detox</a></li>
            <li><a href="#">Forum</a></li>
            <li><a href="#">Chatroom</a></li>
            <li><a href="#">Resources</a></li>
        </ul>
    </nav>

</header>

<section >




    <section id="non-slider">

    </section>

    <section class="container-fluid">

    <section class="col-md-4 welcome">
        <h1>Change Your Lifestyle!</h1>

        <p>Fingerstache wayfarers mlkshk, flexitarian skateboard paleo banh mi Austin.
            Fingerstache synth gastropub art party cornhole sriracha, iPhone Odd Future. Blue Bottle church-key roof party
            fingerstache tofu banh mi. Jean shorts ethical craft beer, Thundercats hella ennui tote bag High Life Wes Anderson.
            Ethical seitan cliche, chillwave artisan Odd Future iPhone lo-fi art party fingerstache flexitarian locavore meh kale chips.
            Williamsburg Tumblr kitsch bicycle rights, Shoreditch craft beer distillery. Banh mi YOLO quinoa, Banksy Neutra drinking vinegar
            dreamcatcher stumptown Etsy blog organic McSweeney's banjo.</p>
    </section><!--end of welcome-->

        <section class="col-md-4">
            
            <img src="/Applications/MAMP/htdocs/HealthApp/Symfony/src/health/healthUserBundle/Resources/public/images/image2.png"/>
            </section>

    <section class="col-md-4">
        <h1>Login/Sign Up</h1>
<form class="form-horizontal login" method="post">
    <section class="form-group">
      <label class="col-sm-3 control-label" for="username">Username:</label>
      <input type="text" name="username" class="form-control inputW" id="userName" />

        <label class="col-sm-3 control-label" for="password">Password:</label>
        <input type="password" name="password" class="form-control inputW" id="passWord" />

        </section>

        <input type="submit" class="btn btn-default" name="submit" id="subMit" />

</form>
    </section><!--end of homeIMG-->

</section><!--end of row-->

    </section><!--container fluid ends-->

<footer class="row">

    <section class="col-md-4 foot_nav">
        <ul>
            <li>links</li>
            <li>links</li>
            <li>links</li>
            <li>links</li>
        </ul>
    </section>

    <section class="col-md-4 foot_nav">
        <ul>
            <li>links</li>
            <li>links</li>
            <li>links</li>
            <li>links</li>
        </ul>
    </section>


    <section class="col-md-4">
        <form id="subscribe" method="post" action="">
            <label for="name">Name: </label>
            <input type="text" name="name" class="form-control fields">
            <label for="email">Email:</label>
            <input type="text" name="email" class="form-control fields">

            <input type="submit" name="sub" class="btn" id="submitBut" value="subscribe">
        </form>
    </section>

</footer>