 {% block head %}
 <!DOCTYPE html>
 <html>
 <head>
    {% block stylesheets %}
        {% stylesheets '@healthhealthUserBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link href="{{ asset_url  }}"  rel="stylesheet">
        <link href="{{ asset_url }}"  rel="stylesheet" >
        {% endstylesheets %}
    {% endblock %}


    <title>{{ page-title }}</title>
</head>
{% endblock %}

{# this is a comment#}

{% block header %}
<header> The Healthy LifeStyle</header>
{% endblock %}


{% block main_content %}
    <section class="row">

        <section class="col-md-8 main_content">

        </section>

    </section>

{% endblock %}


{% block sideBar %}
    <aside class="row">

        <aside class="col-md-4 sidebar">
            <h3>Monthly Contest</h3>
            <p>Carles anim wayfarers chambray, mumblecore consequat flannel small batch sunt pug Wes
                Anderson deserunt. Kogi locavore elit viral, placeat Portland umami iPhone shabby chic
                normcore odio gluten-free tofu ullamco. </p>
        </aside>

        <aside class="col-md-4 sidebar">
            <h3>Monthly Contest</h3>
            <p>Carles anim wayfarers chambray, mumblecore consequat flannel small batch sunt pug Wes
                Anderson deserunt. Kogi locavore elit viral, placeat Portland umami iPhone shabby chic
                normcore odio gluten-free tofu ullamco. </p>
        </aside>

        <aside class="col-md-4 sidebar">
            <h3>Monthly Contest</h3>
            <p>Carles anim wayfarers chambray, mumblecore consequat flannel small batch sunt pug Wes
                Anderson deserunt. Kogi locavore elit viral, placeat Portland umami iPhone shabby chic
                normcore odio gluten-free tofu ullamco. </p>
        </aside>

    </aside>
{% endblock %}


</html>